body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header,
header > nav > a {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

#logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

span {
  color: #2e2f42;
  text-decoration: none;
}

nav li a,
header a,
nav ul li,
address li {
  text-decoration: none;
  list-style-type: none;
}

#unactive-links a {
  color: #434455;
}

#links-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

#address-text li a:hover,
#address-text li a:active {
  color: #404bbf;
}

address {
  font-style: normal;
}

#address-text ul > li > a {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

#section-text {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

#section-a {
  background-color: #2e2f42;
}

#section-c > ul > li {
  text-decoration: none;
  list-style-type: none;
}

button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background-color: #404bbf;
}

footer,
footer > a {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

#studio-text {
  color: #f4f4fd;
}

#footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
