body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

header,
header > nav > a {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

#logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

span {
  color: #2e2f42;
  text-decoration: none;
}

nav li a,
header a,
nav ul li,
address li {
  text-decoration: none;
  list-style-type: none;
}

#unactive-links ul > li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

#unactive-links:hover,
#unactive-links:focus {
  color: #404bbf;
}

nav > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: #404bbf;
}

nav ul > li a:hover,
nav ul > li a:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

address ul > li > a {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

address ul > li > a:active,
address ul > li > a:focus,
address ul > li > a:hover {
  color: #404bbf;
}

#section-text {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

#section-a {
  background-color: #2e2f42;
}

section h1,
#section-a {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
}

#section-b,
#section-b section > h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-b p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

#section-c > ul > li {
  text-decoration: none;
  list-style-type: none;
}

section > #h2-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

#our-portfolio > h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

#img-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

button:hover,
button:active,
button:focus {
  background-color: #404bbf;
}

footer,
footer > a {
  background-color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

footer > a > span {
  color: #f4f4fd;
}

footer > p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

#section-c,
#section-c h2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

#h2-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
